.logo {
    border-top: 2px solid $text-color;
    padding-top: 0.5rem;

    &_text {
        font-size: 2rem;
        font-weight: bold;
    }

    &_baseline {
        margin-top: 0.2rem;
        font-size: 0.7rem;
    }
}